body {
  font-family: sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* pls fix that hr does not get centered */